.ping {
    font-size: 30px;
    color: #0000ff;
    font-family: fantasy;
}
#status {
    color: #e33535;
    letter-spacing: 2px;
}
#startbtn {
    color: #381fcaca;
    background-color: black;
    border:0px;
    margin-top: 10px;
    height: 50px;
    width: 100px;
}
#startbtn:hover {
    background-color: darkorchid;
    color: blue;
    content:"Yesss!";
}